/* Base Styles */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Font styles */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* General Styles */
body {
  background-color: #0E1414;
  display: flex;
  flex-direction: column;
  font: 300 16px/1.5 'Open Sans', sans-serif;
  color: rgba(244, 244, 244, 0.8);
  word-spacing: 2px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  letter-spacing: 1.1px;
}

p {
  max-width: 90%;
  margin-bottom: 1rem;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from the parent */
}

/* Layout Styles */
.mainComponents,
.blogPosts,
#bottomComponent {
  display: flex;
  justify-content: center;
}

.mainComponents {
  flex-direction: row;
  height: 50%;
}

#bottomComponent {
  flex-direction: column;
}

.componentSections {
  width: 29%;
}

/* Additional Styles */
.centered {
  text-align: center;
  color: rgba(244, 244, 244, 1);
  font-size: 2.3rem;
}

section h1 {
  margin-top: 0;
  margin-bottom: .3125rem;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(244, 244, 244, 0.9);  
}

#topComponent h1 {
  word-spacing: 12px;
}

.redText, .readMore {
  font-weight: 500;
  text-transform: uppercase;
}

.readMore {
  color: rgba(255, 255, 255, 1);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.redText {
  color: rgba(255, 0, 0, 1);
}

.bold {
  font-weight: 500;
  color: rgba(244, 244, 244, 1);
}

.topHeading {
  border-bottom: 1px solid rgba(255,255,255,1);
  padding: .3125rem;
  padding-top: 0;
}

section * {
  padding: 1.7%;
}

.redLined {
  border-bottom: 3px solid rgba(255, 0, 0, 1);
  transition: border-bottom 0.5s ease, transform 0.5s ease;
}

.redLined:hover {
  border-bottom-color: transparent;
  transform: scale(1.1);
}

.blogPosts .componentSections {
  transition: transform 0.2s ease, background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.blogPosts .componentSections:hover {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.readMore {
  transition: border-color 0.5s ease, background-color 0.5s ease;
}

.readMore:hover {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.modaled {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.modaled:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  max-width: 80%;
  max-height: 80vh;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 5%;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Grid layout for top component */
#topComponent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
  margin: 5%;
}

#topComponent .componentSections {
  width: 100%;
  max-width: 100%;
}

#topComponent .componentSections:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

#topComponent .componentSections:nth-child(2) {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: 100%;

}

#topComponent .smallerText {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

#topComponent .biggerText {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

#topComponent img,
#topComponent h1,
#topComponent p,
#topComponent span,
#topComponent .bold {
  width: 100%;
  max-width: 100%;
}

/* Responsive grid layout for textContainer */
@media screen and (max-width: 850px) {
  #topComponent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    margin: 10%;
  }

  #topComponent .componentSections:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  #topComponent .componentSections:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  #topComponent .textContainer {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  #topComponent .biggerText {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  #topComponent .smallerText {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  #topComponent .textContainer .biggerText,
  #topComponent .textContainer .smallerText {
    width: 100%;
    max-width: 100%;
  }

  #bottomComponent .blogPosts {
    flex-direction: column;
    align-items: center;
  }

  .blogPosts .componentSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
  }

  .blogPosts span {
    align-self: flex-start;
    margin: 1% 5%;
  }
  
  h3 {
    text-align: center;
  }

  .blogPosts .componentSections p {
    width: 110%;
    text-align: justify;
  }

  .blogPosts a {
    width: 85%;
  }
}

@media screen and (max-width: 650px) {

  #topComponent .componentSections:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
  }

  #topComponent .componentSections:nth-child(2) {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
  }

  #topComponent .smallerText {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
  }

  #topComponent .biggerText {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
  }

  .biggerText h1 {
    text-align: center;
  }

  .centered {
    width: 65%;
    align-self: center;
    font-size: 1.8rem;
  }
}
